body {
	font-size: 18px;
	font-family:"Times New Roman", Times, serif;
	color: black;
	margin-top: : 10px;
	margin-right: 5px;
	margin-left: 20px;
	margin-bottom: 
}
h1 {
	font-size: 30;
	font-family: "Garamond",serif;
	color: red;
}
p {
	font-size: 18px;

}
li "#Rubricas" {
	font-size: 27
}
